.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
draft_src
tests/metaplex_core_asset_program.so 
tests/metaplex_token_metadata_program.so
!yarn-error.log
!target/idl/haus.json
!target/types/haus.ts
app/chunk_uploader/venv
services/chunk_uploader/.env
.venv
